*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-family: 'Lexend', sans-serif;
}

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

